<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Ozone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex" role="search">
        <%= form_tag zipcode_path, :method => 'POST', data: { turbo: false } do %>
            <%= text_field_tag :zipcode %>
            <%= submit_tag 'Search', class: 'btn btn-outline-secondary my-2 my-sm-0' %>
        <% end %>
        </div>
    </div>
  </div>
</nav>