

<div class="jumbotron">
    <h1 class="display-4"><%= @final_output %></h1>
    <p class="lead">This is the current ozone air quality read out for my neighborhood in Las Vegas</p>
    <hr class="my-4">
    <p>hit reload in your browser to update the reading</p>
    <a href="#" role="button" class="btn btn-primary btn-lg">Learn More</a>
</div>


